*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    max-width: 80%;
    margin: auto;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .logo{
    background-color: #FFFFFF;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 20px;
}
.navbar .logo img{
    width: 100px;
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.nav-list ul li > a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.hero-section{
    background: url('./images/Rectangle\ 34624292.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 20px;
}
.hero-body  > span{
    color: #FFC107;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.hero-body h1{
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;

}
.hero-body h1 > span{
    font-size: 90px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}
